body {
    background:rgba(239,100,93,1);
    font-size: 14px !important;
}
.red {
    color: red;
}
.gray {
    color: gray;
}
.tac {
    text-align: center;
}
.mt15 {
    margin-top: 15px;
}

/* 测算页 */
.bei{
    background: url(../images/bzhehun/form_di.jpg);
    background-size: 100% 100%;
    margin-bottom: 0.3rem;
}
.info_box {
    margin-bottom: 0.2rem;

}

.layui-form-label {
    padding: 0.2rem 0 0.2rem 0.1rem;
    width: 1.5rem;
    line-height: 0.4rem;
    margin-left: 0.2rem;
    font-size: 0.28rem;
    font-family: SourceHanSansCN-Regular;
    color: rgba(212,17,0,1);
    text-align: center;
}
.layui-input, .layui-select, .layui-textarea {
    border: none;
    padding-left: 0;
}
.layui-form-danger+.layui-form-select .layui-input, .layui-form-danger:focus {
    border: none!important;
}
.layui-form-item {
    margin-bottom: 0;
}
.info_box .layui-form-item:nth-last-of-type(1) {
    border-bottom: 0;
}
.layui-form-item .layui-inline {
    margin-bottom: 0;
}
.layui-form .layui-form-label,
.layui-input, .layui-select, .layui-textarea,
.layui-form .layui-input-block {
    background: none;
}
.layui-form-label {

}
.layui-input-block {
    margin-left: 85px;
}
.layui-form-radio{
    float: left;
    margin: 6px 0px 0 0;
    padding-right: 1px;
}
.layui-form-radio i{
    font-size: 1rem;
}
.layui-form-radio i:hover, .layui-form-radioed i {
    color: #ee2323;
}
.layui-form-select dl dd.layui-this {
    background-color: #ee2323;
}
.agreement,
.test_num {
    margin-bottom: 15px;
    text-align: center;
    margin-top: 0.2rem;
}
.agreement a {

    font-size: 0.18rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: #ffffff;
    line-height: 0.4rem;
}
.test_num {
    font-size:0.24rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color: rgba(255,255,255,1);
    opacity: 0.6;
    line-height:0.4rem;
}
.test_num span {
    padding: 0 5px;
    color: #ffffff;
}
.layui-form-switch,
.layui-form-onswitch {
    margin-top: 0;
}
.layui-form-onswitch {
    border-color: #ffffff;
    background-color: #ee2323;
}
.layui-btn {

}
.layui-btn-radius {

}
.page_btn_s {
    padding: 0 0 10px
}
.page_btn_s a {
    height: 38px;
    line-height: 38px;
    background-color: #ee2323;
}
.my_test_btn {
    width: 160px;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    border: 1px solid #ffffff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.my_test_btn a {
    color: #ffffff;
}
.bgcolor_box {
    padding: 10px 0;
    overflow: visible;
}
.box_img {
    margin: 10px 0;
    padding: 0 10px;
}
.box_img p {
    padding: 5px 0;
}
.box_img img {
    display:block;
    width: 100%;
}

/* 支付页 */
.pay_bgcolor_box {
    margin-bottom: 15px;
    padding: 15px 0 10px;
    background-color: #ffffff;
}
.price {
    padding: 10px 0;
    text-align: center;
}
.price .price1 {
    color: #545454;
    text-decoration: line-through;
}
.price .price2 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
.price .price2 .red {
    font-size: 26px;
}
.payway {
    padding: 10px 0;
}
.payway .weixin {
    background: url(img/weixin.jpg) center center no-repeat #f9f9f9;
    background-size: 90px;
}
.payway .alipay {
    background: url(img/alipay.jpg) center center no-repeat #f9f9f9;
    background-size: 90px;
}
.payway .txt {
    text-align: center;
}
.payway a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px 20px 0;
    border: 1px solid #949494;
    border-radius: 5px;
    text-indent: -9999em;
}
.pay_tip {
    background-color: #ffe9ca;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.index_title {
    position: relative;
    margin: 20px 10px 10px;
    height: 60px;
    line-height: 58px;
    font-size: 16px;
    color: #ee2323;
    text-align: center;
    display: block;
    background: url(img/bzhehun/index_title_body.png) repeat-x;
    background-size: 1px 60px;
    cursor: pointer;
}
.index_title {
    display: block;
}
.index_title .left,
.index_title .right {
    background: url(img/bzhehun/index_title_left.png) no-repeat #f7f2ec;
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
}
.lock_title img {
    padding: 0 10px 25px 10px;
    width: 95%;
}
.lock_title {
    position: relative;
    margin: 20px 10px 0 20px;
    height: 49px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    display: block;
    background: url(img/bzhehun/pay_title_body.png) repeat-x #FEF9D9;
    background-size: 1px 37.5px;;
    cursor: pointer;
}
.lock_title {
    display: block;
}
.lock_title .left,
.lock_title .right {
    background: url(img/bzhehun/pay_title_left.png) no-repeat #ED655E;
    width: 45px;
    height: 49px;
    background-size: 100% 100%;
}
.lock_title .right {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}
.lock_title .body {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lock_content {
    margin: 0 42px;
    overflow: hidden;
    background-color: #FEF9D9;
}
.lock_content .left {
    width: 80%;
    line-height: 20px;
}
.lock_content .item:before {
    position: absolute;
    left: 0;
    top: 12px;
    content: '';
    /*background: url(images/icon_dian.jpg) no-repeat;*/
    width: 4px;
    height: 3px;
    overflow: hidden;
}
.lock_content .left p{
    padding-left: 5px;
}
.lock_content .right {
    width: 20%;
    text-align: center;
    color: #848484;
    font-size: 14px;
    cursor: pointer;
}
.lock_content .right img{
    width: 90%;
    margin-top: 10px;
}
#PAY_pop {
    padding: 25px 10px;
    border-radius: 10px;
}
#PAY_pop .title {
    font-size: 16px;
    font-weight: bold;
}
#PAY_pop .red {
    font-size: 18px;
    font-weight: bold;
}
.his_bgcolor_box {
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #f6efdc;
}
.query_form {
    padding: 0 10px;
}
.query_form .tip {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin-bottom: 10px;
}
.query_form .input,
.query_form .btn {
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
}
.query_form .input {
    padding-left: 5px;
    float: left;
    border: 1px solid #d7d7d7;
    border-right: none;
    width: 75%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.query_form .btn {
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 25%;
    background-color: #ee2323;
    color: #fff;
    font-size: 18px;
    border: none;
}
.faq {
    margin-top: 10px;
}
.faq a {
    color: gray;
}
.history_order {
    padding: 10px;
    background-color: #fff;
}
.order_list .order {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ee2323;
    border-radius: 5px;
    background-color: #fff;
}
.order_list .order .item {
    padding: 10px 5px 2px;
    border-bottom: 1px solid #ddd;
}
.order_list .order .item .l {
    display: inline-block;
    width: 35%;
    text-align: left;
    font-weight: bold;
}
.order_list .order .item .r {
    display: inline-block;
    width: 65%;
    text-align: right;
}
.order_list .order .item .no {
    color: #cb161d;
}
.order_list .order .item .yes {
    color: #0b6ccf;
}


.order_info {
}
.order_info .title {
    text-align: center;
}
.order_info .title .red {
    font-size: 18px;
}
.layui-collapse {
    border: none;
    border-radius: 2px;
    padding: 0 0.3rem;
}
.layui-colla-item {
    border: none;
    margin-bottom: 60px;
    position: relative;
    box-shadow: 0px 0px 30px 0px rgba(96,105,114,0.16);
}
.res_bgcolor_box {
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #f6efdc;
}
.res_bgcolor{
    position: relative;
    margin-top: 0.9rem;
}
.layui-colla-title {
    margin: 10px 0;
    padding: 0 15px 0 20px;
    background-color: #fff;
    color: #ee2323;
    border-radius: 10px;
}
.layui-colla-icon {
    left: auto;
    right: 15px;
}
.layui-colla-content {
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.user_info {
    overflow: hidden;
    padding: 5%;
    font-size: 13px;
    text-align: center;
    position: relative;
    background: url(../images/bzhehun/pay_user_bg.png) no-repeat center top;
    background-size:100% 100%;
}
.user_info_box {
    width: 48%;
    /*background-color: #ED655E;*/
    border-radius: 5px;
    /*padding: 5px 5px 10px;*/
    box-sizing: border-box;

}
.user_info_box .tit {
    font-size: 16px;
    margin: 3px 0;
    color: red;
}
.user_info_box img {
    display: block;
    width: 100%;
    margin: 5px 0;
}
.user_info_box .txt {
    padding: 2px 0;
}
.user_form {
    width: 6.9rem;
    margin: 0.4rem auto;
    padding: 0rem;
    /*background: url(img/bzhehun/userform_bg.jpg);*/
}
.user_form .intro {
    padding: 0 15px 25px;
    line-height: 24px;
    font-weight: bold;
}

/* 日期控件 */
input.Js_date {
 /*   width: 94%;
    padding: 7px 0;
    border: 0;
    !*background-image: url(img/icon_right.png);*!
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    font-size: 16px;
    color: #333;*/
}
.date_class_box .active {
    background-color: #ee2323;
}
.date_class {
    border: 1px solid #ee2323;
}
.lcalendar_finish {
    color: #ee2323;
}
.date_class,
.date_info_box,
.date_ctrl {
    color: #ca6161;
}
.pay_ad_text{
    color: #ffffff;
    float: none;

}
.pay_ad_text p{
    font-size: 13px;
    padding-bottom: 10px;
    border: none;
}
.pay_ad_text b{
    color: #ffffff;
    font-size: 13px;
}
.pay_order_id{
    color: #ffffff;
    background-color: #D11101;
    padding: 3px 1px;
}
.pay_body_title{
    position: relative;
    margin: 20px 10px 10px;
    height: 49px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    display: block;
    background-size: 1px 49px;
    cursor: pointer;
    background: url(img/bzhehun/pay_body_body.png) repeat-x;
}
.pay_body_title .left,
.pay_body_title .right{
    width: 45px;
    height: 49px;
    background-size: 100% 100%;
    background: url(img/bzhehun/pay_body_left.png) repeat-x;
}
.pay_body_title .right {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}
.lock_item{
    background-color: #ED655E;
}
.page_footer2,.page_footer2 a{
    color: #ffffff;
}

/*评论滚动*/
#gundong{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:300px;
    overflow:hidden;
    padding:0;
    margin: unset;
    background-color: #FFF8D9;
}
#gundong ul li{
    width: 94%;
    margin: 0 auto;
    line-height:20px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
#gundong .order-p {
    color: #999999;
    font-size: 14px;
}
#gundong .order-riqi {
    display: inline-block;
    width: 100px;
}
#gundong .order-dingdan{
    display: inline-block;
    width: 180px;
}

/*八字排盘*/
.user_infobox{
    /* width: 95%; */
    box-shadow: 0px 0px 0.3rem 0px rgba(75,64,34,0.2);
    background-color: #FFF9D5;
    margin: 18px 0.3rem 0.1rem 0.3rem;
    border-radius: 6px;
    padding-bottom: 10px;
    /* padding-left: 0.3rem; */
}
.user_infobox .layui-table {
    width: 95%;
    font-size: 15px;
    text-align: center;
    background-color: #FEE8B0;
    margin: 10px auto;

}
.user_infobox .layui-table td, .layui-table th {
    padding: 8px 5px;
    min-height: 20px;
    line-height:unset;
    border: 1px solid #FFC46B;
}
.user_infobox .layui-table tr:hover{
    background-color: unset;
}
.result_user_top{
    display: flex;
}
.result_user_left{
    width: 16%;
    text-align: right;
    margin-right: 10px;
    padding-top: 10px;
}
.result_user_left img{
    width: 43px;
    height: auto;
}
.result_user_right{
    padding-top: 10px;
}
.result_user_right p{
    font-size: 15px;
    color: #333333;
    line-height: 18px;
}
.result_user_right  .result_user_title{
    font-size: 18px;
    color: #EB3838;
    margin-bottom: 5px;
}
.pink_red{
    color: #EB3838;
    background-color: #FFEEC2;
}
.layui-colla-item .layui-colla-content{
    box-shadow: 0px 0px 0.3rem 0px rgba(75,64,34,0.2);
}
.bzhehun-title{
    position: absolute;
    height: 0.95rem;
    line-height: 0.4rem;
    color: #fff;
    top: -0.4rem;
    left: 0.85rem;
    text-align: center;
    width: 5.28rem;
    display: block;
    background: url(img/bzhehun/bzhehun.png) no-repeat;
    background-size: 5.28rem 0.94rem;
    cursor: pointer;
}
.bzhehun-title span{
    line-height: 0.72rem;
    font-size: 0.34rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: bold;
    color: rgba(254,254,254,1);
}
.layui-colla-content{
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.second_title{
    height: 0.6rem;
    text-align: center;
    margin-top: 0.5rem;
    width: 4.21rem;
    margin-left: 1.2rem;
    display: block;
    background: url(img/hunyincesuan/hunce.png) no-repeat;
    background-size: 4.21rem 0.6rem;
    cursor: pointer;
    font-size:0.32rem;
    line-height: 0.6rem;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(255,87,86,1);
}
.layui-colla-item p {
    line-height: 1.7em;
    color: #666666!important;
    text-indent: 0;
    margin-top: 0.2rem;
    font-size: 0.28rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: rgba(29,32,35,1);
}
.relout_url{
    font-size: 0.28rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: rgba(238,63,77,1);
    margin-left: -0.3rem;
    margin-right: -0.3rem;
}
.comment_bgcolor_box{
    font-size: 0.28rem;
    background: #fff;
}
.relout_url img{
    width: 100%;
}
.wending{
    display: inline-block;
    background: rgba(255,237,212,1);
    border-radius: 0.08rem;
    height: 0.6rem;
    margin-bottom: 0.4rem;
}
.wen_year{
    font-size: 0.28rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    line-height: 0.6rem;
    color: rgba(241,145,73,1);
    padding: 0.15rem 0.15rem 0.15rem 0.15rem;
}
.wen_ying{
    background: rgba(255,244,229,1);
    border-radius: 0.08rem;
    height: 0.6rem;
    display: inline-block;
    width: 5.4rem;
}
.wen_yingxiang{
    font-size: 0.24rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    padding: 0.15rem 0.15rem 0.15rem 0.15rem;
    color: rgba(241,145,73,1);
}

.text-container{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 0.1rem;

    position: relative;
    padding-left:1rem;
}

.text-container .year-tag{
    padding: 0.15rem 0.15rem 0.15rem 0.15rem;
    font-size: 0.28rem;
    line-height: 0.28rem;
    background: rgba(255,237,212,1);
    display:block;
    /*float: left;*/
    position: absolute;
    left: 0px;
    top: 0px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(241,145,73,1);
    border-radius:0.08rem;
}

.text-container .text{
    font-size: 0.24rem;
    line-height: 0.28rem;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(241,145,73,1);
    padding: 0.17rem 0.1rem;
    display:block;
    border-radius:0.08rem;
    text-align: center;
    background: rgba(255,244,229,1);
    border-radius:0.08rem;
    /*float: left;*/
}

.bei .title{
    background: url(../images/bzhehun/title.png);
    position: relative;
    background-size: 100%;
    margin-top: 0;
    background-repeat: no-repeat;
    height: 0.7rem;
}
.form_bei{
    width:6.2rem;
    background:rgba(255,255,255,0.6);
    margin: 0.2rem auto;
}
.xing{
    font-size: 0.28rem;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(212,17,0,1);
    line-height:0.4rem;
}
.ge_info{
    font-size: 0.28rem;
    width: 3.15rem;
    height: .5rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: rgba(195,39,43,1);
    line-height: 0.5rem;
    display: -webkit-box;
    margin-left: 0.2rem;
    float: left;
    margin-top: 0.2rem;
}
#xingming{
    font-size: 0.3rem;
    width: 3rem;
    color: #333333;
    float: left;
    padding-left: 0.01rem;
    height: 0.8rem;
}
#xingming2{
    font-size: 0.3rem;
    color: #333333;
    width: 3rem;
    float: left;
    height: 0.8rem;
}
.sex-select{
    display: block;
    margin-top: 0.15rem;
    position: absolute;
    right: 0.1rem;
    text-align: center;
    height: 0.52rem;
    font-size: 0;
    line-height: 0.4rem;
    background: #e5e5e5;
    border-radius:4px;
    margin-right: 0.2rem;
}
.sex-select .checked {
    display: inline-block;
    background-color: #c52026;
    color: white;
    float: left;
    text-align: center;
    width: 0.7rem;
    border-radius: 4px 4px 4px 4px;
}
.right-sex {
    font-size: 0.24rem;
    background: #e5e5e5;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: #999999;
    line-height: 0.32rem;
    text-align: center;
    float: left;
    border-radius: 0px 4px 4px 0px;
    padding: 0.1rem 0.1rem;
}
.check-sex {
    width: 0.5rem;
}
.left-sex {
    border-radius:4px;
    background: #eeeeee;
    padding: 0.1rem 0.1rem;
    font-size: 0.24rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: #999999;
    line-height: 0.32rem;
    float: left;
    text-align: center;
}
.hr{
    height: 0.02rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background:rgba(212,17,0,1);
}

.riqi{

    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: rgba(195,39,43,1);
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    padding-bottom: 0.2rem;
}

#birthday {
    font-size: 0.28rem;
    background: none;
    color: #333333;
    height: 0.8rem;
    width: 4.1rem;
}
#birthday4 {
    font-size: 0.28rem;
    background: none;
    color: #333333;
    height: 0.8rem;
    width: 4.1rem;
}
#birthday2{
    font-size: 0.28rem;
    background: none;
    color: #333333;
    height: 0.8rem;
    width: 4.1rem;
}
#birthday3{
    font-size: 0.28rem;
    background: none;
    color: #333333;
    height: 0.8rem;
    width: 4.1rem;
}
.di{
    background: url(../images/bzhehun/di.jpg);
    position: relative;
    background-size: 100%;
    margin-top: 0;
    background-repeat: no-repeat;
    height: 0.5rem;
}
.check-sex2 {
    width: 0.7rem;
    border: 1px solid rgba(195,39,43,1);
}
.agreement .layui-form-checked{
    color: red;
    border-color: red;
    font-size: 0.18rem;
    padding: 0 0.11rem;
    height: 0.22rem;
}
.agreement .layui-unselect,.layui-form-checkbox{
    font-size: 0.18rem;
    padding: 0 0.12rem;
    height: 0.25rem;
    border-color: red;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}
.agreement .layui-form-checkbox i{
    width: 0.24rem;
    top: 0.01rem;
    line-height: 0.22rem;
    position: absolute;
    text-align: center;
    font-size: 0.18rem;
    left: -0.05rem;
}
.layui-form-checkbox:hover i {
    color: #fff;
}
.agreement .layui-form-checked i {
    color: red;
}
.agreement .black {
    vertical-align: middle;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.tongyi{
    font-size:0.18rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(0,0,0,1);
    line-height:0.4rem;
}
.tijiao{
    background: url(../images/bzhehun/tijiao.png);
    position: relative;
    background-size: 100%;

    width: 100%;
    background-repeat: no-repeat;
    height:0.88rem;
    border: none;
}
.tijiao-img{
    width: 6.9rem;
    height: 0.8rem;
}
.tooth{
    color: #999999;
}
.tooth_active{
    color: #EE3F4D!important;
}
.date_btn_box,.date_ctrl{
    border-top: 1px solid #E6E6E6;
}
.date-queren{
    font-size: 1.3em;
}

.tixing{
    margin-top: 0.2rem;
    font-size:0.24rem;
    font-family:SourceHanSansCN-Light;
    font-weight:300;
    text-indent: 0.6rem;
    margin-bottom: 0.2rem;
    color: rgba(255,255,255,1);
    opacity: 0.6;

}

.tixing a {
    color:rgba(245,227,192,1);
}
.wenhao {
    width: 0.3rem;
    margin-left: 0.1rem;
    margin-bottom: 0.05rem;
}
.fan{
    background: url(../images/bzhehun/fan.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    width:6.9rem;

}
.ping_di img{
    width: 7.5rem;
    margin: 0 auto;
}
.ce_product{
    margin-top: 0!important;
}
.his_order{
    background: rgb(251,220,122);
    background-image: url(/Public/Ffcs/images/head_zhuo/history.png);
    background-size: 0.56rem 1.56rem;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    cursor: default;
    position: fixed;
    right: 0px;
    top: 30%;
    width: 0.6rem;
    height: 1.6rem;
    z-index: 100;
}
.his_order a{
    color: #c52026 !important;
}
.date_ctrl{
    top: auto !important;
}
.second_form .bei{
    margin-bottom: 0.4rem;
}
.yinsi{
    display: none;
    position: fixed;
    background: #fff;
    z-index: 99;
    top: 0;
    margin: 0;
    left: 0;
    padding: 0.4rem;
    height: 100vh;
    color: #333;
    overflow: scroll;
}
.yinsi p{
    text-indent: 2em;
    padding: 0.15rem 0;
    font-size: 16px;
}
.yinsi img{
    float: right;
    width: 0.3rem;
}

.product-intro {
    width: 7.5rem;
    height:100vh;
    border: unset;
    overflow: scroll;
}
.show{ display: none;
    bottom: 0;
    position: fixed;
    height: 100%;
    z-index: 999;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 0.9rem;
}
.pay_close{
    float: right;
    width: 0.3rem;
    margin: 0.2rem 0.5rem;
    z-index: 99;
}
.guanbi{
    width: 100vw;
    max-width: 640px;
    text-align: right;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: white;
}
.jieyuan_txt{
    color: #ffffff;
}
