/*结婚吉日首页*/
.jhjr_index{
    background-color: #B20A17;
}
.jhjr_index .jiehunjiri_banner{
    width: 6.4rem;
    height:auto;
}
.jhjr_index .why_choose{
    width: 6rem;
    height: auto;
    margin: .2rem auto;
    margin-bottom: .4rem;
}
.jhjr_index .live_jiri{
    width: 6rem;
    height: auto;
    margin: .2rem auto;
    margin-bottom: .4rem;
}
.jhjr_index .good{
    width: 6rem;
    height: auto;
    margin: .2rem auto;
    margin-bottom: .4rem;
}
.jhjr_index .ft_fix_btn{
    background-color: unset;
    bottom: .25rem;
}
.jhjr_index .ft_fix_btn img{
    width: 6rem;
    height: auto;
    display: block;
    margin: 0 auto;
}
.jhjr_index .page_footer2{
    color: #ffffff;
    margin-bottom: .3rem;
}
.jhjr_index .page_footer2 a{
    color: #ffffff;
}
.jhjr_index .love_img{
    position: absolute;
    margin-top: -.25rem;
    left: 50%;
    margin-left: -3rem;
    width: 6rem;
    height: 1.01rem;
    line-height: 1.01rem;
    color: #FF0101;
    font-size: .3rem;
    background-image: url("./img/jiehunjiri/love.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.jhjr_index .love_left{
    float: left;
    display: block;
    margin-left: .92rem;
}
.jhjr_index .love_right{
    float: right;
    display: block;
    margin-right: .92rem;
}
.jhjr_index .user_info_input{
    width: 6rem;
    height: auto;
    margin: 0 auto;
    padding: .2rem 0;
    padding-bottom: .15rem;
    border-radius: .1rem;
    background-color: #FFDADA;
}
.jhjr_index .girl_info{
    display: inline-block;
    margin-left: .1rem;
    width: 2.8rem;
    height: auto;
    border-radius: .1rem;
    background-color: #ffffff;
    border: 1px solid #DCDCDC;
}
.jhjr_index .boy_info{
    float: right;
    width: 2.8rem;
    margin: auto;
    margin-right: .1rem;
    border-radius: .1rem;
    background-color: #ffffff;
    border: 1px solid #DCDCDC;
}
.jhjr_index .layui-form-item {
    height: .6rem;
    line-height: .6rem;
    margin-bottom: 0;
    border-bottom: 1px solid #DCDCDC;
}
.jhjr_index .layui-form-label {
    float: left;
    display: block;
    padding: unset;
    width:.9rem;
    height: .6rem;
    padding-left: 0.08rem;
    line-height: .6rem;
    font-size: .22rem;
    text-align: right;
}
.jhjr_index .layui-input-block {
    margin-left: .92rem;
    height: .6rem;
    line-height: .6rem;
}
.jhjr_index .girl_name{
    width: 1.8rem;
    height: .57rem;
    padding-left: .1rem;
    border: unset;
    outline: none;
    font-size: .22rem;
}
.jhjr_index .boy_name{
    width: 1.8rem;
    height: .57rem;
    padding-left: .1rem;
    border: unset;
    outline: none;
    font-size: .22rem;
}
.jhjr_index .boy_name:active{
    border: 0;
    outline: none !important;
    background-color: rgba(0, 0, 0, 0);
}
.jhjr_index #birthday{
    width: 1.7rem;
    height: .55rem;
    line-height: .55rem;
    padding-left: .1rem;
    font-size: .22rem;
}
.jhjr_index #birthday2{
    width: 1.7rem;
    height: .55rem;
    line-height: .55rem;
    padding-left: .1rem;
    font-size: .22rem;
}
.jhjr_index #birthday3{
    width: 1.7rem;
    height: .55rem;
    line-height: .55rem;
    padding-left: .1rem;
    font-size: .22rem;
}
.jhjr_index #birthday4{
    width: 1.7rem;
    height: .55rem;
    line-height: .55rem;
    padding-left: .1rem;
    font-size: .22rem;
}
.jhjr_index .merry{
    background-color: #ffffff;
    width: 5.8rem;
    border-radius: .1rem;
    margin: 0 auto;
    border: 1px solid #DCDCDC;
    margin-top: .1rem;
}
.jhjr_index .merry .layui-form-label{
    width: 1.32rem;
    padding-left: .12rem;
}
.jhjr_index .merry .layui-input-block{
    width: 2rem;
    margin-left: 1.4rem;
}
.jhjr_index .layui-input-block select {
    display: block;
    width: 95%;
    padding: 0 8px;
    height: .6rem;
    line-height: .6rem;
    border: 0;
    font-size: .22rem;
}
.jhjr_index .J_testFixedShow{
    width: 6rem;
    height: .8rem;
    margin: 0.4rem auto;
    background-color: unset;
    padding: unset;
    display: block;
    margin-bottom: 0;
    opacity: 1;
}
.jhjr_index .J_testFixedShow img{
    width: 6rem;
    height: .8rem;
}
.jhjr_index .test_num{
    color: rgba(255,255,255,1);
    opacity: 0.6;
    text-align: center;
    margin: .12rem auto;
    font-size: .22rem;
}
.jhjr_index .my_test_btn{
    text-align: center;
    margin: .12rem auto;
    font-size: .2rem;
}
.jhjr_index .my_test_btn a{
    color: #DCDCDC;
}
.jhjr_index .agreement{
    text-align: center;
    line-height: .5rem;
    color: #ffffff;
    margin: .1rem auto;
}
.jhjr_index .agreement a{
    color: #ffffff;
}
.jhjr_index .layui-form-onswitch{
    margin-top: 0;
    background-color: #ff0a0a;
    border-color: #ff0a0a;
}
.jhjr_index .layui-form-switch {
    position: relative;
    height: 22px;
    line-height: 22px;
    width: 42px;
    padding: 0 5px;
    margin-top:0;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}


/*结婚吉日支付页*/
.price {
    padding: 10px 0;
    text-align: center;
}
.price .price1 {
    color: #545454;
    text-decoration: line-through;
}
.price .price2 {
    font-size: 22px;
    font-weight: bold;
    color: #F81908;
}
.payway {
    padding: 10px 0;
}
.payway .txt {
    text-align: center;
}
.payway a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px 20px 0;
    border: 1px solid #949494;
    border-radius: 5px;
    text-indent: -9999em;
}
.payway .weixin {
    background: url(img/weixin.jpg) center center no-repeat #f9f9f9;
    background-size: 90px;
}
.payway .alipay {
    background: url(img/alipay.jpg) center center no-repeat #f9f9f9;
    background-size: 90px;
}
.user_info_man{
    float: left;
    margin: .8rem 0 0 .2rem;
    width: 2.5rem;
    height: 1.3rem;
    line-height: .35rem;
    background-color: #FEDADA;
    font-size: .18rem;
    border-radius: .1rem;
}
.user_info_name1{
    color: #FD0000;
    font-size: .24rem;
    margin-top: .1rem;
    line-height: .4rem;
}
.user_info_man p{
    margin-left: .1rem;
}
.payman_img{
    float: right;
    width: .4rem;
    margin-top: -.3rem;
    margin-right: .2rem;
}
.user_info_woman{
    float: right;
    margin: .8rem .2rem 0 0;
    width: 2.5rem;
    height: 1.3rem;
    line-height: .35rem;
    background-color: #FEDADA;
    font-size: .18rem;
    border-radius: .1rem;
}
.user_info_woman p{
    padding-right: .1rem;
    text-align: right;
}
.user_info_name2{
    color: #FD0000;
    font-size: .24rem;
    line-height: .4rem;
    margin-top: .1rem;
    text-align: right;
}
.paywoman_img{
    float: left;
    width: .4rem;
    margin-top: -.3rem;
    margin-left: .2rem;
}
.pay_order_id{
    color: #ffffff;
    margin: unset;
    width: 100%;
    height: .5rem;
    font-size: .22rem;
    line-height: .5rem;
    background-color: #B20A17;
}
.user_info{
    width: 6.4rem;
    height: 1.93rem;
    background-image: url("./img/jiehunjiri/pay_weiman.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.choose_jiri{
    color: #FD0000;
    font-size: .26rem;
    text-align: center;
    margin: .4rem auto;
    margin-bottom: .1rem;
}
.after_pay{
    color: #333333;
    font-size: .24rem;
    text-align: center;
    margin-bottom: .2rem;
}
.after_pay span{
    color: #FD0000;
}
.fengelan{
    width: 6.4rem;
    height: auto;
}
.misunderstanding{
    width: 6.4rem;
    height: auto;
    margin-top: .3rem;
}
#PAY_pop {
    padding: 25px 10px;
    border-radius: 10px;
}
#PAY_pop .title {
    font-size: 16px;
    font-weight: bold;
}
.tac {
    text-align: center;
}
#PAY_pop .price-pop{
    text-align: center;
}
.payway {
    padding: 10px 0;
}
.payway .txt {
    text-align: center;
}
.gray {
    color: gray;
}
.weiman{
    width: 6.4rem;
    height: auto;
}
.fankui_img{
    width: 3.7rem;
    height: auto;
    display: block;
    margin: .3rem auto;
}
#gundong {
    position: relative;
    width: 6rem;
    height: 4.14rem;
    margin: 0 auto;
    overflow: hidden;
    padding: unset;
    background-color: #FFDADA;
    border-radius: .1rem;
}
#gundong ul li {
    width: 94%;
    margin: 0 auto;
    line-height: .35rem;
    padding: 10px 0;
    font-size: .24rem;
    border-bottom: 1px solid #E5CCA1;
}
#gundong .order-p {
    color: #999999;
    font-size: .22rem;
}
#gundong .order-riqi {
    display: inline-block;
    width: 160px;
}
#gundong .order-dingdan {
    display: inline-block;
    float: right;
}


/*结果页*/
.jhjr_result{
    background-color: #B20A17;
}
.fgx_yellow{
    width: 6.4rem;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: -.1rem;
}
.banner_content{
    width: 6.4rem;
    height: 4.5rem;
    background-image: url("./img/jiehunjiri/banner_content.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.banner_content p{
    color: #ffffff;
    text-align: center;
    font-size: .26rem;
    padding-top: .5rem;
}
.result_user_info .user_info_box{
    width: 6rem;
    background-color: #FEDADA;
    border-radius: .1rem;
    margin: .2rem auto;
    padding-bottom: .2rem;
}
.result_user_info .result_user_top{
    display: flex;
}
.result_user_info .result_user_left{
    width: 16%;
    text-align: right;
    margin-right: .2rem;
    padding-top: .1rem;
}
.result_user_info .result_user_left img{
    width: .6rem;
    height: auto;
}
.result_user_info .result_user_right{
    padding-top: .14rem;
}
.result_user_info .result_user_right p{
    font-size: .24rem;
    color: #333333;
    line-height: .34rem;
}
.result_user_info .result_user_right  .result_user_title{
    font-size: .26rem;
    color: #FD0000;
    margin-bottom: .05rem;
}
.result_user_info .layui-table {
    width: 5.6rem;
    margin: 0 auto;
    margin-top: .2rem;
    background-color:#FED2D2;
}
.result_user_info .layui-table td, .layui-table th {
    padding: .1rem .15rem;
    min-height:unset;
    text-align: center;
    line-height: unset;
    border: 1px solid #E7BF82;
    font-size: .24rem;
}
.result_user_info .pink_red{
    color: #FD0000;
    background-color: #FDEAEA;
}
.jhjr_result .page_footer2{
    color: #ffffff;
}
.jhjr_result .page_footer2 a{
    color: #ffffff;
}
.jhjr_result .layui-collapse {
    border: unset;
    border-radius:unset;
    width: 6rem;
    margin: 0 auto;
}
.jhjr_result .layui-colla-title {
    position: relative;
    height: .6rem;
    width: 6rem;
    line-height: .6rem;
    padding: unset;
    color: #FFF799;
    font-size: .26rem;
    cursor: pointer;
    background-color: unset;
    background-image: url("./img/jiehunjiri/subfield.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.jhjr_result .layui-colla-titled {
    background-image: url("./img/jiehunjiri/subfield_open.png");
}
.jhjr_result .data_title{
    margin-left: .4rem;
}
.jhjr_result .layui-colla-content{
    border-top: unset;
    padding: unset;
    border-radius: 0 0 .1rem .1rem;
    background: linear-gradient(to right,#CC2F27, #FF4040, #CC2F27);
    background: -webkit-linear-gradient(to right,#CC2F27, #FF4040, #CC2F27);
    background: -o-linear-gradient(to right,#CC2F27, #FF4040, #CC2F27);
    background: -moz-linear-gradient(to right,#CC2F27, #FF4040, #CC2F27);
    background: linear-gradient(to right,#CC2F27, #FF4040, #CC2F27); /* 标准的语法（必须放在最后） */
}
.jhjr_result .love-img3{
    display: block;
    width: 5.6rem;
    margin: 0 auto;
}
.jhjr_result .love-img3:last-child{
    display: none;
}
.jhjr_result .love-img2{
    display: block;
    width: 5.6rem;
    margin: 0 auto;
}
.jhjr_result .love-img2:last-child{
    display: none;
}
.jhjr_result .love-img1{
    display: block;
    width: 5.6rem;
    margin: 0 auto;
}
.jhjr_result .love-img1:last-child{
    display: none;
}
.jhjr_result .layui-colla-icon{
    display: none;
}
.jhjr_result .layui-colla-item{
    border-top: unset;
    margin-top: .3rem;
}
.jhjr_result .date_arrow{
    float: right;
    margin-right: .3rem;
    width: .5rem;
    height: .6rem;
    transform:rotate(180deg);
    background-image: url("./img/jiehunjiri/arrow.png");
    background-repeat: no-repeat;
    background-size: .3rem .3rem;
    background-position: center center;
}
.jhjr_result .date_arrow90{
    transform:rotate(0deg);
}
.jhjr_result .yuanyuan{
    position: relative;
    right: .4rem;
    bottom: .1rem;
    width: 1.9rem;
    height: 1.21rem;
    margin-top: -1rem;
    margin-left: 2.3rem;
}
.jhjr_result .date_block{
    display: flex;
}
.jhjr_result .date_block_left{
    width: 33%;
}
.jhjr_result .date_rili{
    width: 1.5rem;
    height: 1.8rem;
    color: #333333;
    text-align: center;
    margin-top: .3rem;
    margin-left: .2rem;
    background-image: url("./img/jiehunjiri/rili.png");
    background-repeat: no-repeat;
    background-size: 1.5rem 1.8rem;
    background-position: center center;
}
.layui-collapse p {
     text-indent: unset;
     padding-bottom: unset;
}
.jhjr_result .date_year{
    color: #FFEACD;
    font-size: .22rem;
    padding-top: .2rem;
}
.jhjr_result .date_ri{
    font-size: .32rem;
    font-weight: bolder;
    margin-top: .04rem;
}
.jhjr_result .date_xingqi{
    font-size: .2rem;
    font-weight: bolder;
    line-height: .25rem;
}
.jhjr_result .date_block_right{
    width: 67%;
    color: #ffffff;
    font-size: .24rem;
    line-height: .34rem;
    padding-top: .3rem;
}
.jhjr_result .zuijia{
    float: right;
    margin-right: .2rem;
    margin-top: 0;
    width: .6rem;
    height: auto;
}
.jhjr_result .date_introduct{
    margin-top: .12rem;
    padding-right: .1rem;
}
#bind_mobile{
    line-height: .5rem;
}
.layui-table tr:hover, .layui-table[lay-even] tr:nth-child(even) {
    background-color: unset;
}

@media only screen and (min-width: 751px) {
    .jhjr_result .date_ri {
        font-size: .32rem;
        font-weight: bolder;
        margin-top: .3rem;
        margin-bottom: .1rem;
    }
}
.his_order{
    background: rgb(253,1,0);
    background-image: url(/Public/Ffcs/images/head_zhuo/history.png);
    background-size: 0.56rem 1.56rem;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    cursor: default;
    position: fixed;
    right: 0px;
    top: 30%;
    width: 0.6rem;
    height: 1.6rem;
    z-index: 100;
}
.his_order a{

}
.hot_show p{
    font-size: 0.28rem !important;
}
.hot_blck img{
    width: 90%!important;
}
.hot_show{
    width: 1.4rem!important;
    margin: 0.4rem 0.35rem 0 0.38rem  !important;
    margin-bottom: 0 !important;
}
.xuanfu{
    width: 6.4rem !important;
}
.hot_blck{
    width: 6.4rem !important;
}
.tixing {
    font-size: 0.22rem;
    font-family: SourceHanSansCN-Normal;
    font-weight: 400;
    text-align: center;
    text-indent: 0.1rem;
    color: rgba(255,255,255,1);
    opacity: 0.6;
    margin-top: 0.2rem;
}
.tixing a {
    color: #fff;
}
.wenhao {
    width: 0.3rem;
    margin-left: 0.1rem;
    margin-bottom: 0.05rem;
}

.yinsi{
    display: none;
    position: fixed;
    background: #fff;
    z-index: 99;
    top: 0;
    margin: 0;
    left: 0;
    padding: 0.4rem;
    height: 100vh;
    color: #333;
    overflow: scroll;
}
.yinsi p{
    text-indent: 2em;
    padding: 0.15rem 0;
    font-size: 16px;
}
.yinsi img{
    float: right;
    width: 0.3rem;
}

.product-intro {
    width: 7.5rem;
    height:100vh;
    border: unset;
    overflow: scroll;
}
.show{ display: none;
    bottom: 0;
    position: fixed;
    height: 100%;
    z-index: 999;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 0.9rem;
}
.pay_close{
    float: right;
    width: 0.3rem;
    margin: 0.2rem 0.5rem;
    z-index: 99;
}
.guanbi{
    width: 100vw;
    max-width: 640px;
    text-align: right;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: white;
}