body {
    background-color: #CB2316 !important;

}

.red {
    color: red;
}
.gray {
    color: gray;
}
.tac {
    text-align: center;
}
.tal {
    text-align: left;
}
.mt15 {
    margin-top: 15px;
}

/* 测算页 */
.info_box {
    margin-bottom: 10px;
    border: 1px solid #ee2323;
    border-radius: 10px;
    background-color: #fff;
}
.layui-form {
}
.layui-form-label {
    padding: 0.2rem 0 0.2rem 0.3rem;
    text-align: left;
    width: 1.6rem;
    border: none;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    line-height: 0.4rem;
    font-size: 0.32rem;
}
.layui-input, .layui-select, .layui-textarea {
    border: none;
}
.layui-form-danger+.layui-form-select .layui-input, .layui-form-danger:focus {
    border: none!important;
}
.layui-form-item {
    margin-bottom: 0;
    border-bottom: 1px solid #ee2323;
}
.info_box .layui-form-item:nth-last-of-type(1) {
    border-bottom: 0;
}
.layui-form-item .layui-inline {
    margin-bottom: 0;
}
.layui-form .layui-form-label,
.layui-input, .layui-select, .layui-textarea,
.layui-form .layui-input-block {
    background: none;
}
.layui-form-label {

}
.layui-input-block {
    margin-left: 95px;
}
.layui-form-radio i:hover, .layui-form-radioed i {
    color: #ee2323;
}
.layui-form-select dl dd.layui-this {
    background-color: #ee2323;
}
.agreement,
.test_num {
    margin-bottom: 15px;
    text-align: center;
}
.agreement a {
    vertical-align: middle;
    font-size: 16px;
    color: #ee2323;
    text-decoration: underline;
}
.test_num {
    font-size: 0.24rem;
    color: rgba(255,255,255,1);
    opacity: 0.6;
}
.test_num span {
    padding: 0 5px;
    font-weight: bold;
    color: #ee2323;
}
.layui-form-switch,
.layui-form-onswitch {
    margin-top: 0;
}
.layui-form-onswitch {
    border-color: #ee2323;
    background-color: #ee2323;
}
.layui-btn {
    width: 100%;
    margin-bottom: 15px;
    background-color: #ee2323;
    font-size: 18px;
}
.bgcolor_box .layui-btn {
    width: 100%;
    height:0.9rem;
    margin-bottom: 15px;
    background: url(../images/liunianyunshi2019/btn_test.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    font-size: 18px;
    margin-top: 0.2rem;
}
.layui-btn-radius {
    border-radius: 10px;
}
.page_btn_s {
    padding: 0 0 10px
}
.page_btn_s a {
    height: 38px;
    line-height: 38px;
    background-color: #ee2323;
}
.my_test_btn {
    width: 160px;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.my_test_btn a {
    color: #FFFFFF;
}

/* 支付页 */
.pay_bgcolor_box {
    margin-bottom: 15px;
    padding: 15px 0 10px;
    background-color: #FFFFFF;
}
.price {
    padding: 10px 0;
}
.price .price1 {
    color: #545454;
    text-decoration: line-through;
    margin-left:25px;
}
.price .price2 {
    font-weight: bold;
    color: #A40000;
    margin-left:25px;
}
.price .price2 .red {
    font-size: 26px;
}
.pright{
    float:right;
    margin-right:25px;
}
.payway {
    padding: 10px 0;
}
.payway .weixin {
    background: url(../images/liunianyunshi2019/weixin.png) center center no-repeat #f9f9f9;
    background-size: 374px;
}
.green{
    color:green;
    text-align:center;
}
.payway .alipay {
    background: url(../images/liunianyunshi2019/alipay.png) center center no-repeat #f9f9f9;
    background-size: 374px;
}
.payway .txt {
    text-align: center;
}
.payway a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px 20px 0;
    /*border: 1px solid #949494;*/
    border-radius: 5px;
    text-indent: -9999em;
}
.pay_tip {
    background-color: #ffe9ca;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.lock_title {
    position: relative;
    margin: 15px 0;
    height: 50px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    display: block;
    background: url(img/liunianyunshi2017/title_body.png) repeat-x;
    background-size: 1px 50px;
    cursor: pointer;
}
.lock_title {
    display: block;
}
.lock_title .left,
.lock_title .right {
    background: url(img/liunianyunshi2017/title_left.png) no-repeat #f4f4f4;
    width: 25px;
    height: 50px;
    background-size: 100% 100%;
}
.lock_title .right {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}
.lock_title .body {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lock_content {
    margin: 0 10px;
    overflow: hidden;
}
.lock_content .left {
    width: 65%;
    line-height: 28px;
}
.lock_content .item:before {
    position: absolute;
    left: 0;
    top: 12px;
    content: '';
    width: 4px;
    height: 3px;
    overflow: hidden;
}
.lock_content .right {
    width: 35%;
    text-align: center;
    color: #848484;
    font-size: 14px;
    cursor: pointer;
}
#PAY_pop {
    padding: 25px 10px;
    border-radius: 10px;
}
#PAY_pop .title {
    font-size: 16px;
    font-weight: bold;
}
#PAY_pop .red {
    font-size: 18px;
    font-weight: bold;
}
.his_bgcolor_box {
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #f6efdc;
}
.query_form {
    padding: 0 10px;
}
.query_form .tip {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin-bottom: 10px;
}
.query_form .input,
.query_form .btn {
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
}
.query_form .input {
    padding-left: 5px;
    float: left;
    border: 1px solid #d7d7d7;
    border-right: none;
    width: 75%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.query_form .btn {
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 25%;
    background-color: #ee2323;
    color: #fff;
    font-size: 18px;
    border: none;
}
.faq {
    margin-top: 10px;
}
.faq a {
    color: gray;
}
.history_order {
    padding: 10px;
    background-color: #fff;
}
.order_list .order {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ee2323;
    border-radius: 5px;
    background-color: #fff;
}
.order_list .order .item {
    padding: 10px 5px 2px;
    border-bottom: 1px solid #ddd;
}
.order_list .order .item .l {
    display: inline-block;
    width: 35%;
    text-align: left;
    font-weight: bold;
}
.order_list .order .item .r {
    display: inline-block;
    width: 65%;
    text-align: right;
}
.order_list .order .item .no {
    color: #cb161d;
}
.order_list .order .item .yes {
    color: #0b6ccf;
}


.order_info {
}
.order_info .title {
    text-align: center;
}
.order_info .title .red {
    font-size: 18px;
}
.layui-collapse {
    border: none;
    border-radius: 2px;
    padding: 0 0.3rem;
}
.layui-colla-item {
    border: none;
    margin-bottom: 0.9rem;
    position: relative;
    box-shadow:0px 0px 0.3rem 0px rgba(96,105,114,0.16);
}
.res_bgcolor_box {
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #f4f4f4;
}
.layui-colla-title {
    margin: 10px 0;
    padding: 0 15px 0 20px;
    background-color: #fff;
    color: #ee2323;
    border-radius: 10px;
}
.layui-colla-icon {
    display: none;
    left: auto;
    right: 15px;
}
.layui-colla-content {
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.user_info {
    overflow: hidden;
    padding: 5%;
    font-size: 13px;
    text-align: center;
}
.user_info img {
    width: 100%;
    vertical-align: top;
    border: 0;
}
.user_info .title
{
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
    margin: 0 auto;
    line-height: 21px;
}
.user_info_box {
    width: 42%;
    background-color: #f0e6c1;
    border-radius: 5px;
    padding: 5px 5px 10px;
    box-sizing: border-box;
}
.user_info_box .tit {
    font-size: 16px;
    margin: 10px 0;
}
.user_info_box img {
    display: block;
    width: 100%;
    margin: 5px 0;
}

/* 终生运 */
.bgcolor_box {
    padding:10px 10px;
}
.user_form {
    position: relative;
    padding: 10px 10px 15px;
}
.user_form .intro {
    padding: 0 15px 15px;
    line-height: 24px;
    font-weight: bold;
    color:red;
}
.box_title {
    position: relative;
    margin-bottom: 15px;
}
.box_title img {
    width: 100%;
    vertical-align: top;
    border: 0;
}
.box_title span {
    position: absolute;
    padding-left: 5%;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
    color: #4f4f4f;
}
.box_img {
    margin: 10px 0;
    padding: 0 10px;
}
.box_img p {
    padding: 5px 0;
}
.box_img img {
    width: 100%;
    display: block
}

.lock_item {
    position: relative;
    padding: 10px;
    background-color: #fff;
    min-height: 20px;
    line-height: 26px;
    color: #434343;
    border-radius: 5px;
}
.lock_item b{
    font-size: 1.1rem;
}
.item_tip {
    margin: 0 8px;
    padding: 5px 10px;
    line-height: 26px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}

/* 日期控件 */
input.Js_date {
    width: 94%;

    border: 0;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    font-size: 16px;
    color: #333;
}
.date_class_box .active {
    background-color: #ee2323;
}
.date_class {
    border: 1px solid #ee2323;
}
.lcalendar_finish {
    color: #ee2323;
}
.date_class,
.date_info_box,
.date_ctrl {
    color: #ca6161;
}
.pay_ad_text{
    float: none;
}
.pay_ad_text p{
    border-width: 0px !important;
}
.Ln19 .page_footer2{
    color: #ffffff;
}
.Ln19 .page_footer2 a{
    color: #ffffff;
}
/*.page_footer{
    color:#FFFFFF;
}
.page_footer a{
    color:#FFFFFF;
}*/
.liunian{
    position: relative;
    margin-left: 0.3rem;
    margin-top: 0.9rem;
    margin-right: 0.3rem;
    background: rgba(254,254,254,1);
    box-shadow: 0px 0px 0.3rem 0px rgba(96,105,114,0.16);
    border-radius: 0.2rem;
}
.pai_title {
    position: absolute;
    line-height: 0.4rem;
    color: #fff;
    top: -0.4rem;
    left: 0.9rem;
    text-align: center;
    width: 5.28rem;
    display: block;
    background: url(../images/liunianyunshi2019/liunian.png) no-repeat;
    background-size: 5.28rem 0.94rem;
    cursor: pointer;
}
.pai_title span {
    line-height: 0.72rem;
    font-size: 0.34rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: bold;
    color: rgba(254,254,254,1);
}
.info {
    margin-top: 0.4rem;
}
.tal {
    line-height: 0.48rem;
    text-align: left;
}
.info b {
    color: #1D2023;
    font-size: 0.28rem;
}
.info span {
    color: #1D2023;
    font-size: 0.28rem;
}
.biao {
    padding: 0 0.19rem 0.5rem 0.19rem;
}
.liunian-table{
    margin: 0 auto;
    background:rgba(255,237,212,1);
    width: 95%;

}

.liunian-table td, .liunian-table th {
    padding: 9px 5px;
    min-height: 20px;
    border:1px solid rgba(250,205,137,1);
    font-size: 0.28rem;
    text-align: center;
}
.pink_red {
    font-size:0.28rem;
    font-family:SourceHanSansCN-Regular;
    font-weight:bold;
    color:rgba(241,145,73,1);
}
.pink_black{
    background:rgba(255,244,229,1);
    font-size:0.28rem;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(29,32,35,1);
}
.res_bgcolor{
    position: relative;
    margin-top: 0.9rem;
}
.pai_title1{
    position: absolute;
    line-height: 0.4rem;
    color: #fff;
    top: -0.4rem;
    left: 0.9rem;
    text-align: center;
    width: 5.28rem;
    display: block;
    background: url(../images/liunianyunshi2019/liunian.png) no-repeat;
    background-size: 5.28rem 0.94rem;
    cursor: pointer;
}
.pai_title1 span{
    line-height: 0.72rem;
    font-size: 0.34rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: bold;
    color: rgba(254,254,254,1);
}
.layui-collapse p {
    margin-top: 0.2rem;
    text-indent: 0;
    font-size: 0.28rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    line-height: 1.7em;
    color: #666666;
}
.relout_url{
    font-size: 0.28rem;
}
.comment_bgcolor_box{
    background: #ffffff;
    font-size: 0.28rem;
}
.layui-colla-content p:nth-child(1){
    margin-top: 0.4rem;
}
.orders-scroll .marquee-wrapper li{
    border-bottom: 1px solid #eac688;
    font-size:0.28rem;
    line-height: 0.4rem;
    padding: 10px 0;
    margin: 0 0.2rem;
    color: #292929;
}
.orders-scroll .marquee-wrapper{
    height: 10rem;
}
.ge_info{
    padding: 0.2rem 0 0.2rem 0.1rem;
    width: 3.15rem;
    height: .5rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    line-height: 0.5rem;
    display: -webkit-box;
    margin-left: 0.4rem;
    float: left;
}
.xing{
    font-family: SourceHanSansCN-Regular;
    font-weight: bold;
    line-height: 0.4rem;
    font-size: 0.32rem;
}
#xingming{
    width: 3rem;
    float: left;
    padding-left: 0;
    font-size: 0.32rem;
    height: 0.8rem;
}
.sex-select{
    display: block;
    margin-top: 0.15rem;
    position: absolute;
    right: 0.1rem;
    text-align: center;
    height: 0.52rem;
    font-size: 0;
    line-height: 0.4rem;
    background: #e5e5e5;
    border-radius: 4px;
    margin-right: 0.2rem;
}
.sex-select .checked {
    display: inline-block;
    background-color: #ee2323;
    color: white;
    float: left;
    text-align: center;
    width: 0.7rem;
    border-radius: 4px 4px 4px 4px;
}
.right-sex {
    font-size: 0.24rem;
    background: #e5e5e5;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: #999999;
    line-height: 0.32rem;
    text-align: center;
    float: left;
    border-radius: 0px 4px 4px 0px;
    padding: 0.1rem 0.1rem;
}
.check-sex {
    width: 0.5rem;
}
.left-sex {
    border-radius: 4px;
    background: #eeeeee;
    padding: 0.1rem 0.1rem;
    font-size: 0.24rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: #999999;
    line-height: 0.32rem;
    float: left;
    text-align: center;
}
.riqi{
    height: 0.5rem;
    margin-left: 0.4rem;
    padding: 0.2rem 0 0.2rem 0.1rem;
}

#birthday {
    font-size: 0.32rem;
    background: none;
    color: #333333;
    width: 4.9rem;
    height: 0.8rem;
}
#birthday1 {
    font-size: 0.32rem;
    background: none;
    color: #333333;
    width: 4.9rem;
    height: 0.8rem;
}

input::-webkit-input-placeholder{
    color: #999999;
}
.tooth{
    color: #999999;
}
.tooth_active{
    color: #ff6665!important;
}
.date_btn_box{
    border-top: 1px solid #E6E6E6;
}
.quren-title{
    color: #ff6665!important;
}
.lcalendar_show_gongli{
    color: #ff6665!important;
}
.his_order{
    background: rgb(239,173,24);
    background-image: url(/Public/Ffcs/images/head_zhuo/history.png);
    background-size: 0.56rem 1.56rem;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    cursor: default;
    position: fixed;
    right: 0px;
    top: 37%;
    width: 0.6rem;
    height: 1.6rem;
    z-index: 100;
}
.tixing {
    font-size: 0.24rem;
    font-family: SourceHanSansCN-Normal;
    font-weight: 400;
    color: rgba(255,255,255,1);
    opacity: 0.6;
    text-indent: 0.6rem;
    margin-bottom: 0.2rem;
}
.tixing a {
    color: #fff;
}
.wenhao {
    width: 0.3rem;
    margin-left: 0.1rem;
    margin-bottom: 0.05rem;
    fill: rgba(153,153,153,1);
}

.yinsi{
    display: none;
    position: fixed;
    background: #fff;
    z-index: 99;
    top: 0;
    margin: 0;
    left: 0;
    padding: 0.4rem;
    height: 100vh;
    color: #333;
    overflow: scroll;
}
.yinsi p{
    text-indent: 2em;
    padding: 0.15rem 0;
    font-size: 16px;
}
.yinsi img{
    float: right;
    width: 0.3rem;
}

.product-intro {
    width:7.5rem;
    height:100vh;
    border: unset;
    overflow: scroll;
}
.show{ display: none;
    bottom: 0;
    position: fixed;
    height: 100%;
    z-index: 999;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 0.9rem;
}
.pay_close{
    float: right;
    width: 0.3rem;
    margin: 0.2rem 0.5rem;
    z-index: 99;
}
.guanbi{
    width: 100vw;
    max-width: 640px;
    text-align: right;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: white;
}