body {
    background-color: #f6f3f0;
}
.red {
    color:rgba(241,145,73,1);
    position: absolute;
    line-height: 0.35rem;
    margin-left: 0.03rem;

}
.tac {
    text-align: center;
}

.zhan {
    padding-top: 0.1rem;
    min-height: 100%;

    background:rgba(255,248,238,1);
}
.product .info {
    width:7.1rem;
    height: 1.65rem;
    background:rgba(255,255,255,1);
    padding: 0.2rem 0.1rem;
    margin: 0 0.2rem 0.1rem 0.2rem;
    box-shadow:0px 6px 10px 0px rgba(212,55,68,0.1);
    border-radius:0.2rem;
}
.product .title {
    margin-bottom: 10px;
    padding: 5px 0;
    color: #e28d54;
    border-bottom: 1px solid #ccc;
}
.product .left {
    margin-top: 0.2rem;
    margin-right: 1px;
    margin-left: 0.2rem;

}

.product .left a,
.product .left img {
    display: block;
    height:1.25rem;
    width: 1.2rem;


}
.product .left p {
    padding: 10px 0;
    text-align: center;

}
.product .left p span {
    font-weight: bold;
}
.product .right {
    float: left;
    margin-top: 0.2rem;
    width: 3.5rem;
    margin-left:0.2rem;
}
.product .right .name a {
    text-align: left;
   margin-bottom: 0.16rem;
    font-family:SourceHanSansCN-Regular;
    font-weight:bold;
    font-size: 0.34rem;
    color:rgba(51,51,51,1);
    line-height:0.32rem;
}
.name{ height: 0.32rem}
.intro p{height: 0.27rem; margin: 0.25rem 0; font-size: 0.24rem;}
.product .right .intro {

    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
}

.eye{ position: relative; height: 0.3rem}
.eye img{ width: 0.3rem; height: 0.3rem}
.product .btn{
    margin-top: 0.35rem;
    float: right;
    margin-right: 0.2rem;
    height:0.7rem;
    width: 1.5rem;
    background:rgba(238,63,77,1);
    box-shadow:0px 4px 10px 0px rgba(238,63,77,0.4);
    border-radius:0.1rem;
}
.product .btn a{
    text-align: center;
    width: 100%;
    display: block;
    font-size: 0.2rem;
    font-family:SourceHanSansCN-Regular;
    color:rgba(255,248,238,1);
    line-height:0.7rem;
}

/* 订单查询页 */
.his_bgcolor_box {
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #fff;
}
.query_form {
    padding: 0 10px;
}
.query_form .tip {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin-bottom: 10px;
}
.query_form .input,
.query_form .btn {
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
}
.query_form .input {
    padding-left: 5px;
    float: left;
    border: 1px solid #d7d7d7;
    border-right: none;
    width: 75%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.query_form .btn {
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 25%;
    background-color: #e49d6d;
    color: #fff;
    font-size: 18px;
    border: none;
}
.faq {
    padding: 5px;
    font-size: 16px;
}
.faq a {
    color: gray;
}
.faq_feedback {
    margin-top: 10px;
    overflow: hidden;
}
.faq_feedback li {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.faq_feedback a.feedback {
    background-color: #d61f12;
}
.faq_feedback a {
    border-radius: 5px;
    margin: 0 5px;
}
.faq_feedback a {
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
}
.faq_feedback a.goback {
    background-color: #cdcdcd;
}
.history_order {
    padding: 10px 10px 5px;
}
.box_title {
    margin: 5px 0 15px;
    height: 36px;
    line-height: 36px;
    background-color: #e4d6bc;
    text-align: center;
    color: #dd4333;
    border-radius: 5px;
}
.order_list .order {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e49d6d;
    border-radius: 5px;
    background-color: #fff;
}
.order_list .order .item {
    padding: 10px 10px 2px;
    border-bottom: 1px solid #ddd;
}
.order_list .order .item .l {
    display: inline-block;
    width: 25%;
    text-align: left;
    font-weight: bold;
}
.order_list .order .item .r {
    display: inline-block;
    width: 72%;
    text-align: right;
}
.order_list .order .item .status {
    font-size: 16px;
    font-weight: bold;
}
.order_list .order .item .no {
    color: red;
}
.order_list .order .item .yes {
    color: #0b6ccf;
}
.order_list .order .item .gray {
    color: #ccc;
}
.page_btn_s a {
    background-color: #e49d6d;
}

.bgcolor_box {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f6f3f0;
}
.faq_help .title,
.faq_form .title {
    font-size: 16px;
    padding-bottom: 10px;
    color: #e28d54;
}
.faq_form select {
    display: none;
}
.faq_form .btn {
    text-align: center;
}
.faq_form .btn button {
    width: 35%;
}
.faq_form .btn button.goback {
    background-color: #cdcdcd;
}
.faq_form .layui-form-label {
    width: 95px;
    padding: 9px 0;
    text-align: center;
}
.faq_form .layui-input-block {
    margin-left: 95px;
}
.faq_form .layui-input-inline {
    margin-left: 0;
}
@media screen and (max-width: 450px) {
    .layui-form-item .layui-input-inline {
        margin: 0 0 10px 98px;
    }
}
.faq_help .item {
    padding: 15px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.faq_help .tit {
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
}
.faq_help .desc {
    line-height: 24px;
}
.faq_help .desc p {
    text-indent: 2em;
}
.faq_help .desc a {
    color: red;
}
.layui-input-block textarea {
    margin-left: 0;
}
.layui-btn {
    width: 100%;
    margin-bottom: 15px;
    background-color: #e49d6d;
    font-size: 18px;
    border-radius: 5px;
}
.layui-form-select dl dd.layui-this {
    background-color: #e49d6d;
    color: #fff;
}
.layui-form-radio {
    padding-right: 0;
}
.layui-form-radio i {
    margin-right: 2px;
    font-size: 16px;
    color: #c2c2c2;
}
.layui-form-radio i:hover, .layui-form-radioed i {
    color: #e49d6d;
    font-size: 16px;
}
body{
    height: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom:2.9rem !important;
    box-sizing: border-box;

}
.page_footer {
    width: 100%;
    height: 2.1rem;
    /*border:1px solid red;*/
    position: absolute;
    bottom: 0px;
    left: 0px;
    background:rgba(255,237,212,1);
}

