body {
    background-color: #FCF6EA;
}

.red {
    color: red;
}

.gray {
    color: gray;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.mt15 {
    margin-top: 15px;
}

.mb0 {
    margin-bottom: 0;
}

/* 测算页 */
.info_box {
    padding:0.4rem 0.4rem ;
}

.layui-form {
}

.layui-form-label {
    padding: 0.2rem 0 0.2rem 0.1rem;
    text-align: left;
    width: 1.5rem;
    border: none;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    line-height: 0.4rem;
    font-size: 0.3rem;
    color: #B28850;
}

.layui-input, .layui-select, .layui-textarea {
    border: none;
}

.layui-form-danger + .layui-form-select .layui-input, .layui-form-danger:focus {
    border: none !important;
}

.layui-form-item {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(230,230,230,1);
}

.info_box .layui-form-item:nth-last-of-type(1) {
    border-bottom: 0;
}

.layui-form-item .layui-inline {
    margin-bottom: 0;
}

.layui-form .layui-form-label,
.layui-input, .layui-select, .layui-textarea,
.layui-form .layui-input-block {
    background: none;
}

.layui-form-label {

}

.layui-input-block {
    margin-left: 0;
}

.layui-form-radio i:hover, .layui-form-radioed i {
    color: #d36210;
}

.layui-form-select dl dd.layui-this {
    background-color: #d36210;
}

.agreement,
.test_num {
    margin-bottom: 15px;
    text-align: center;
}

.agreement a {
    vertical-align: middle;
    font-size: 16px;
    color: #d36210;
    text-decoration: underline;
}

.test_num {
    font-size:0.24rem;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    margin-top: 0.3rem;
}

.test_num span {
    padding: 0 5px;
    color: #E60012;
}

.layui-form-switch,
.layui-form-onswitch {
    margin-top: 0;
}

.layui-form-onswitch {
    border-color: #d36210;
    background-color: #d36210;
}

.layui-btn {
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 15px;
    background-color: #d36210;
    font-size: 18px;
}

.layui-btn-radius {
    border-radius: 10px;
}

.page_btn_s {
    padding: 0 0 10px
}

.page_btn_s a {
    height: 38px;
    line-height: 38px;
    background-color: #d36210;
}

.my_test_btn {
    width: 160px;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    border: 1px solid #d36210;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.my_test_btn a {
    color: #d36210;
}

/* 支付页 */
.pay_bgcolor_box {
    margin-bottom: 15px;
    padding: 15px 0 10px;
    background-color: #fff;
}

.price {
    padding: 10px 0;
    text-align: center;
}

.price .price1 {
    color: #545454;
    text-decoration: line-through;
}

.price .price2 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.price .price2 .red {
    font-size: 26px;
}

.payway {
    padding: 15px 0;
}

.payway .weixin {
    background: url(img/weixin.jpg) center center no-repeat #f9f9f9;
    background-size: 90px;
}

.payway .alipay {
    background: url(img/alipay.jpg) center center no-repeat #f9f9f9;
    background-size: 90px;
}

.payway .txt {
    text-align: center;
}

.payway a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px 20px 0;
    border: 1px solid #949494;
    border-radius: 5px;
    text-indent: -9999em;
}

.pay_tip {
    background-color: #ffe9ca;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.lock_title {
    position: relative;
    margin: 15px 0;
    height: 49px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    display: block;
    background: url(img/zhongshengyun/title_body.png) repeat-x;
    background-size: 1px 49px;
    cursor: pointer;
}

.lock_title {
    display: block;
}

.lock_title .left,
.lock_title .right {
    background: url(img/zhongshengyun/title_left.png) no-repeat #E5E6E7;
    width: 55px;
    height: 49px;
    background-size: 100% 100%;
}

.lock_title .right {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}

.lock_title .body {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lock_content {
    margin: 0 10px;
    overflow: hidden;
}

.lock_content .left {
    width: 65%;
    line-height: 28px;
}

.lock_content .item:before {
    position: absolute;
    left: 0;
    top: 12px;
    content: '';
    /*background: url(images/icon_dian.jpg) no-repeat;*/
    width: 4px;
    height: 3px;
    overflow: hidden;
}

.lock_content .right {
    width: 35%;
    text-align: center;
    color: #848484;
    font-size: 14px;
    cursor: pointer;
}

#PAY_pop {
    padding: 25px 10px;
    border-radius: 10px;
}

#PAY_pop .title {
    font-size: 16px;
    font-weight: bold;
}

#PAY_pop .red {
    font-size: 18px;
    font-weight: bold;
}

.his_bgcolor_box {
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #f6efdc;
}

.query_form {
    padding: 0 10px;
}

.query_form .tip {
    font-size: 14px;
    color: #333;
    line-height: 24px;
    margin-bottom: 10px;
}

.query_form .input,
.query_form .btn {
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
}

.query_form .input {
    padding-left: 5px;
    float: left;
    border: 1px solid #d7d7d7;
    border-right: none;
    width: 75%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.query_form .btn {
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 25%;
    background-color: #d36210;
    color: #fff;
    font-size: 18px;
    border: none;
}

.faq {
    margin-top: 10px;
}

.faq a {
    color: gray;
}

.history_order {
    padding: 10px;
    background-color: #fff;
}

.order_list .order {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d36210;
    border-radius: 5px;
    background-color: #fff;
}

.order_list .order .item {
    padding: 10px 5px 2px;
    border-bottom: 1px solid #ddd;
}

.order_list .order .item .l {
    display: inline-block;
    width: 35%;
    text-align: left;
    font-weight: bold;
}

.order_list .order .item .r {
    display: inline-block;
    width: 65%;
    text-align: right;
}

.order_list .order .item .no {
    color: #cb161d;
}

.order_list .order .item .yes {
    color: #0b6ccf;
}

.order_info {
}

.order_info .title {
    text-align: center;
}

.order_info .title .red {
    font-size: 18px;
}

.layui-collapse {
    border: none;
    border-radius: 2px;
    padding: 0 10px;
}

.layui-colla-item {
    border: none;
}

.res_bgcolor_box {
    margin-bottom: 15px;
    padding: 10px 0;

}

.layui-colla-title {
    margin: 10px 0;
    padding: 0 15px 0 20px;
    background-color: #fff;
    color: #d36210;
    border-radius: 10px;
}

.layui-colla-icon {
    left: auto;
    right: 15px;
}

.layui-colla-content {
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.user_info {
    position: relative;
    /*height: 180px;*/
    overflow: hidden;
    /*padding-top: 10px;*/
    font-size: 13px;
    text-align: center;
    display: block;
}

.user_info img {
    width: 100%;
    vertical-align: top;
    border: 0;
    height: auto;
}

.user_info .title {
    text-align: center;
    margin-bottom: 10px;
}

.user_info .info {
    position: absolute;
    top: 35%;
    width: 50%;
    margin: 0 25%;
    line-height: 21px;
}

.user_info .info p {
    color: #545454;
    line-height: 30px;
}

.user_info .info p b {
    font-size: 1.01em;
    color: #010101;
}

.user_info_box {
    width: 42%;
    background-color: #f0e6c1;
    border-radius: 5px;
    padding: 5px 5px 10px;
    box-sizing: border-box;
}

.user_info_box .tit {
    font-size: 16px;
    margin: 10px 0;
}

.user_info_box img {
    display: block;
    width: 100%;
    margin: 5px 0;
}

/* 终生运 */
.bgcolor_box {

}
.img_info{
    padding: 0 0.2rem;
}
.user_form {
    background: url(../images/zhongshengyun/form_zhongshengyun.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0.44rem 0.35rem;
}

.box_title {
    position: relative;
    padding: 15px 0;
}

.box_title img {
    width: 100%;
    vertical-align: top;
    border: 0;
}

.box_title span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #d36210;
}

.box_img {
    padding: 0 10px;
}

.box_img p {
    padding: 5px 0;
}

.box_img img {
    width: 100%;
    display: block
}

.lock_item {
    padding: 10px 40px;
    background-color: #fff;
    position: relative;
    min-height: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #434343;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lock_item:after, .lock_item:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.lock_item:before {
    left: 0;
    background-image: url(img/zhongshengyun/icon_bagua.jpg);
}

.lock_item:after {
    top: 50%;
    right: 5px;
    width: 30px;
    background-image: url(img/zhongshengyun/icon_suo.png);
}

.item_tip {
    margin: 0 8px;
    padding: 5px 10px;
    line-height: 24px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}

/* 日期控件 */
input.Js_date {
    width: 94%;
    /*  padding: 7px 0;*/
    border: 0;
    /*background-image: url(img/icon_right.png);*/
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.date_class_box .active {
    background-color: #d36210;
}

.date_class {
    border: 1px solid #d36210;
}

.lcalendar_finish {
    color: #d36210;
}

.date_class,
.date_info_box,
.date_ctrl {
    color: #b9723f;
}

.orders-scroll {
    margin-top: 0;
    background: url(../images/zhongshengyun/pinglun02.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 10px;
}

.pay_ad_text {
    color: #010101;
    float: none;
    background-color: #FBF5E9;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
}

.pay_ad_text p {
    font-size: 13px;
    padding-bottom: 10px;
    border: none;
}

.pay_ad_text b {
    color: #010101;
    font-size: 13px;
}

.pay_body {
    background-color: #FCF6EA;
}

.xiaotubiao {
    width: 1rem;
    margin-right: 0.2rem
}

.ge_info {
    padding: 0.2rem 0 0.2rem 0.1rem;
    float: left;
}
.orders-scroll .marquee-wrapper{
    background: none;
    border: none;
}
.orders-scroll .marquee-wrapper li {
    border-bottom: 1px solid rgba(230,230,230,1);
    font-size: 0.28rem;
    line-height: 0.4rem;
    padding: 10px 0;
    color: #292929;
    margin: 0 0.2rem;
}

.orders-scroll .marquee-wrapper {
    height: 5rem;
}

.sex-select {
    display: block;
    margin-top: 0.1rem;
    position: absolute;
    right: 0.1rem;
    text-align: center;
    height: 0.52rem;
    font-size: 0;
    line-height: 0.4rem;
    background: #e5e5e5;
    border-radius: 4px;
}

.sex-select .checked {
    display: inline-block;
    background-color: #D98A15;
    color: white;
    float: left;
    text-align: center;
    width: 0.7rem;
    border-radius: 4px 4px 4px 4px;
}

.right-sex {
    font-size: 0.24rem;
    background: #e5e5e5;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: #999999;
    line-height: 0.32rem;
    text-align: center;
    float: left;
    border-radius: 0px 4px 4px 0px;
    padding: 0.1rem 0.1rem;
}

.check-sex {
    width: 0.5rem;
}

.left-sex {
    border-radius: 4px;
    background: #eeeeee;
    padding: 0.1rem 0.1rem;
    font-size: 0.24rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: #999999;
    line-height: 0.32rem;
    float: left;
    text-align: center;
}

.ge_info {
    width: 3.15rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    line-height: 0.5rem;
    margin-left: 0.2rem;
    display: -webkit-box;
    float: left;
}

.xing {
    font-family: SourceHanSansCN-Regular;
    font-weight: bold;
    line-height: 0.4rem;
    font-size: 0.32rem;
}

#xingming {
    width: 3rem;
    float: left;
    padding-left: 0.01rem;
    font-size: 0.3rem;
    height: 0.75rem;
}
#xingming1 {
    width: 3rem;
    float: left;
    padding-left: 0.01rem;
    font-size: 0.3rem;
    height: 0.75rem;
}
#xingming2{
    width: 3rem;
    float: left;
    padding-left: 0;
    font-size: 0.3rem;
    height: 0.7rem;
}

.riqi {

    margin-left: 0.2rem;
    padding: 0.2rem 0 0.2rem 0.1rem;
}

#birthday {
    font-size: 0.3rem;
    background: none;
    color: #333333;
    width: 4.35rem;
    height: 0.8rem;
}

 #birthday1 {
     font-size: 0.3rem;
     background: none;
     color: #333333;
     width: 4.35rem;
     height: 0.8rem;
 }

input::-webkit-input-placeholder {
    color: #999999;
}

.tooth_active {
    color: #d36210 !important;
}

.tooth {
    color: #999999;
}

.lcalendar_commit {
    color: #d36210;
}

.lcalendar_cancel {
    color: #333333;
}

.lcalendar_show_gongli, .lcalendar_show_nongli {
    color: #d36210;
}

.quren-title {
    color: #d36210 !important;
}

.date_btn_box {
    border-top: 1px solid #E6E6E6;
}

.date-queren {
    font-size: 1.3em;
}

.his_order {
    background: #D98A15;
    background-image: url(/Public/Ffcs/images/head_zhuo/history.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.56rem 1.56rem;
    display: block;
    cursor: default;
    position: fixed;
    right: 0px;
    top: 30%;
    width: 0.6rem;
    height: 1.6rem;
    z-index: 100;
}
.cesuan_tupian{
    border: none;
    background: none;
}
.cesuan_tupian img{
    width: 100%;
    margin-top: 0.24rem;

}
.tixing {
    font-size:0.24rem;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(153,153,153,1);
    text-indent: 0.4rem;
    margin-top: 0.3rem;

}
.tixing a {
    color:rgba(153,153,153,1);
}
.wenhao {
    width: 0.3rem;
    margin-left: 0.1rem;
    margin-bottom: 0.05rem;
    fill:rgba(153,153,153,1) ;
}
.ping_di{
    margin: 0 10px;
}
.ping_di img{
    width: 100%;

}


.product-intro {
    width: 7.5rem;
    height:100vh;
    border: unset;
    overflow: scroll;
}
.show{ display: none;
    bottom: 0;
    position: fixed;
    height: 100%;
    z-index: 999;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 0.9rem;
}
.pay_close{
    float: right;
    width: 0.3rem;
    margin: 0.2rem 0.5rem;
    z-index: 99;
}
.guanbi{
    width: 100vw;
    max-width: 640px;
    text-align: right;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: white;
}