a,body{color:#333}
.clear:after,article,aside,dialog,figure,footer,header,menu,nav,section{display:block}
.auto,.clear:after{overflow:hidden}
body,html{max-width:640px}
html{margin:0 auto}
#wraper{overflow:hidden;width:100%}
.header{margin:0;height:39px;overflow:hidden;background:#ff7a18;border-bottom:1px solid #CA4302;line-height:20px;width:100%}
.header .logo_m{float:left;padding:4px 0 0 10px}
.header .mini_nav{float:right;color:#fff;margin-top:11px;padding:0 5px;text-align:right}
.header .mini_nav a{color:#f6f6f6;margin-right:5px;font-size:16px;}
.header .sitemap{float:right;width:23px;margin-top:11px;text-align:right;margin-right:10px}
#btn_top{opacity:.6;background:#666 url(/img/to_top.png) center 50% no-repeat;border-radius:17px;position:fixed;right:1px;bottom:50px;border:solid 1px #555;width:32px;height:32px;display:block;z-index:100001;}
blockquote,body,button,code,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,section,select,td,textarea,th,ul{margin:0;padding:0}
fieldset,img{border:0}
body{font:14px/1.4 "Microsoft Yahei",Arial,Helvetica,sans-serif;background-color:#fff;margin:0 auto}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
table{border-collapse:collapse;border-spacing:0}
dd,dl,dt,ol,ul{list-style-type:none}
a{text-decoration:none;-webkit-touch-callout:none;-webkit-user-select:none}
.public_agreement a,.public_footer_words:hover{text-decoration:underline}
a,input,select{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;-moz-appearance:none;-webkit-border-radius:0}
img,input{border:none}
em,i{font-style:normal}
:focus{outline:0}
select{background:0 0}
@media(min-device-width:375px)and(max-device-width:667px)and(-webkit-min-device-pixel-ratio:2){body{font-size:14.5px}
}
@media(min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3){body{font-size:15.5px}
}
.clear{clear:both}
.clear:after{clear:both;visibility:hidden;height:0;content:"."}
.left{float:left}
.right{float:right}
.mb10{margin-bottom:10px}
.mt10{margin-top:10px}
::-moz-placeholder{font-family:"Microsoft YaHei"}
::-webkit-input-placeholder{font-family:"Microsoft YaHei"}
:-ms-input-placeholder{font-family:"Microsoft YaHei"}
.public_header{height:44px;line-height:44px;background:#fff;border-bottom:1px solid #e4e4e4;width:100%;position:relative}
.public_h_home:after,.public_h_menu:after{content:'';background-size:100% 100%;background-repeat:no-repeat;display:block}
.public_h_logo{position:absolute;left:10px;height:44px;top:0;display:block}
.public_h_logo img{height:100%;display:block}
.public_h_con{text-align:center;font-size:20px;color:#d23037;margin:0 44px}
.public_h_home{position:absolute;width:44px;height:44px;top:0}
.public_h_home{left:0}
.public_h_menu{position:absolute;height:25px;line-height:25px;border:1px solid #d23037;border-radius:5px;padding:0 5px;display:block;color:#d23037;right:10px;top:9px;font-size:16px}
.public_menu_class{position:absolute;top:44px;left:0;right:0;bottom:0;z-index:38;background-color:rgba(255,255,255,.9);max-width:640px;margin:1px auto 0}
.public_mc_ul{margin:0 10px;max-height:400px;overflow-x:scroll;-webkit-overflow-scrolling:touch}
.public_mc_ul li{width:33.333%;margin:10px 0 0;float:left}
.public_mc_ul a{display:block}
.public_mc_ul .img_w{display:block;width:60px;height:60px;margin:0 auto}
.public_banner,.public_banner img{width:100%;height:auto}
.public_mc_ul img{display:block;width:100%}
.public_mc_ul p{height:28px;line-height:28px;text-align:center;font-size:14px;overflow:hidden;color:#333}
.anim_in{display:none;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-name:menuin;animation-name:menuin;-webkit-transform-origin:50% 50%}
@-webkit-keyframes menuin{0%{-webkit-transform:scale(3);-moz-transform:scale(3);-ms-transform:scale(3);-o-transform:scale(3);transform:scale(3);opacity:0}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:1}
}
@-moz-keyframes menuin{0%{-webkit-transform:scale(3);-moz-transform:scale(3);-ms-transform:scale(3);-o-transform:scale(3);transform:scale(3);opacity:0}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:1}
}
@-o-keyframes menuin{0%{-webkit-transform:scale(3);-moz-transform:scale(3);-ms-transform:scale(3);-o-transform:scale(3);transform:scale(3);opacity:0}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:1}
}
@-ms-keyframes menuin{0%{-webkit-transform:scale(3);-moz-transform:scale(3);-ms-transform:scale(3);-o-transform:scale(3);transform:scale(3);opacity:0}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:1}
}
@keyframes menuin{0%{-webkit-transform:scale(3);-moz-transform:scale(3);-ms-transform:scale(3);-o-transform:scale(3);transform:scale(3);opacity:0}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:1}
}
.public_banner img{display:block}
.public_tab{height:auto;border-bottom:1px solid #d6d6d6;background-color:#fff}
.public_tab a{display:block;width:80%;height:40px;line-height:40px;margin:0 auto;text-align:center;color:#333}
.public_tab span{display:block;height:30px;width:1px;background-color:#d6d6d6;position:absolute;top:5px;right:0}
.public_form_wrap .auto,.public_tab li{position:relative}
.public_tab li{float:left;width:50%}
.public_tab li.current a{border-bottom:2px solid #ff537b;margin-bottom:-1px;color:#ff537b}
.public_form_wrap{margin:10px 10px 0}
.public_form_wrap ul{border:1px solid #e2ccb0;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#fff}
.public_form_wrap li{height:40px;line-height:40px;border-bottom:1px solid #e2ccb0;padding:0 5px}
.public_form_wrap .auto .sel,.public_form_wrap .auto input{width:100%;padding:5px 0;border:0;background-image:url(/img/2019/icon_right.png);background-repeat:no-repeat;background-position:right center;background-size:20px;font-size:16px}
.public_form_wrap li.new_li_last,.public_form_wrap li.new_li_last .txtarea{height:80px}
.public_form_wrap li:nth-last-of-type(1){border-bottom:0}
.public_form_wrap .left{color:#898989;margin-right:10px}
.public_form_wrap .input.auto{width:100%;display:inline-block}
.public_form_wrap .auto input{display:block;height:30px;line-height:30px}
.public_form_wrap .sex span{display:block;float:left;padding-top:10px;width:70px}
.public_form_wrap .sex i{display:block;float:left;width:14px;height:14px;border:2px solid #6cb333;background-color:#fff;border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%}
.public_form_wrap .sex span.cur i{background:url(/img/2019/icon_suo_dagou.png) center center no-repeat #6cb333;background-size:16px auto}
.public_form_wrap .sex font{display:block;height:20px;line-height:20px;overflow:hidden;padding-left:10px;color:#898989}
.public_form_wrap .sex span.cur font{color:#333}
.public_form_wrap .auto .icon_right{display:block;width:20px;height:20px;background-size:100% 100%;background-image:url(/img/2019/icon_right.png);background-repeat:no-repeat;background-position:center center;position:absolute;top:10px;right:0}
.public_form_wrap .auto input.bg_no{background-image:none}
.public_agreement{padding:8px 10px;position:relative;text-align:center;font-size:16px}
.public_agreement input{-webkit-appearance:checkbox;vertical-align:middle;position:relative;margin-top:-2px;margin-right:6px}
.public_agreement a{color:#ff8b58}
.public_btn_s a,.public_pay_box a{color:#fff;display:block;text-align:center}
.public_btn_s{padding:10px 0;margin:0 10px}
.public_btn_s a{height:34px;line-height:34px;font-size:18px;background-color:#31b6e7;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.public_pay_box{position:relative;padding:0 10px 10px}
.public_pay_box a{height:32px;line-height:32px;border-radius:4px;margin:10px 0 0}
.public_pay_box .paypal,.public_pay_box .weixin{background-color:#6cb333}
.public_pay_box .alipay{background-color:#09f}
.public_bound_phone{background-color:rgba(0,0,0,.6);position:fixed;width:100%;height:100%;top:0;left:0;z-index:169}
.public_bp_content{position:absolute;width:80%;background-color:#fff;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);padding:0 10px 10px;box-sizing:border-box}
.public_bp_content h6{font-size:16px;color:#333;padding:10px 0;text-align:center;font-weight:600}
.public_bp_content p{color:#333;font-size:14px}
.public_bp_content p span{color:red}
.public_bp_content a,.public_bp_content input{border:1px solid #797979;width:100%;box-sizing:border-box;height:32px;line-height:32px;text-align:center;color:#444;margin:10px 0 0}
.public_bp_content a{border:none;background-color:red;color:#fff;display:block;border-radius:6px}
.public_hot_test{border:1px solid #d3d3d3;border-radius:5px;margin:10px;background-color:#fff}
.public_ht_title{border-bottom:1px solid #d3d3d3;height:40px;line-height:40px;padding:10px;color:#000;font-weight:800;text-align:center;font-size:16px;padding:0}
.public_ht_ul{position:relative;overflow:hidden;padding:5px 0}
.public_ht_ul li{float:left;width:25%;padding:5px 5px 0;box-sizing:border-box}
.public_ht_ul li a{display:block}
.public_ht_ul li img{width:100%;display:block}
.public_ht_ul li p{line-height:24px;height:26px;font-size:14px;color:#222;text-align:center;overflow:hidden}
.public_pay_popup{background-color:rgba(0,0,0,.6);position:fixed;width:100%;height:100%;top:0;left:0;z-index:39;display:none}
.public_pp_box{position:absolute;width:80%;background-color:#fff;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);padding:20px 10px 10px;box-sizing:border-box;text-align:center;color:#3a3a3a;font-size:16px;border-radius:6px}
.public_pp_price,.public_pp_tit{padding:10px 0 6px}
.public_pp_price strong{color:#ce0000;font-size:18px}
.public_pp_close{position:absolute;right:0;top:0;width:40px;height:40px;font-weight:700;font-size:20px;line-height:40px;color:#666;cursor:pointer}
.public_footer,.public_pay_bottom,.public_pay_bottom span{color:#fff;text-align:center}
.public_pay_bottom{position:fixed;bottom:0;left:0;width:100%;height:46px;line-height:46px;font-size:18px;z-index:39;display:none;background-color:rgba(0,0,0,.5)}
.public_pay_bottom span{margin:5px 5px 0;height:36px;line-height:36px;display:block;font-size:16px;background-color:red;border-radius:5px}
.public_pay_bottom i{display:inline-block;height:40px;width:40px;background:url(/img/2019/public_lock.png) center/80% no-repeat;vertical-align:top;margin-right:5px}
.public_footer{margin:20px 0 0;background-color:#dc8732;overflow:hidden;width:100%;padding:20px 0}
.public_footer_servers{overflow:hidden;width:100%;text-align:center;color:#6c6c6c;padding:10px 0;font-size:16px;line-height:180%;background-color:#FFF3E8}
.public_footer_servers a{color:#6c6c6c}
.public_footer_words{color:#fff;padding-top:5px}
.pf_beian{line-height:30px}
.pf_beian a{color:#fff}
.pf_payment{position:relative;text-align:center;margin-top:8px}
.pf_payment img,.pf_payment span{height:24px;vertical-align:middle;display:inline-block;padding:0 4px;line-height:24px}
.public_test_fixed{position:fixed;bottom:0;left:0;width:100%;height:46px;background-color:rgba(0,0,0,.5);z-index:39;display:none}
.public_ff_btn,.public_test_fixed span{height:36px;background-color:red;text-align:center}
.public_test_fixed span{margin:5px 5px 0;line-height:36px;display:block;font-size:16px;color:#fff;border-radius:5px}
.public_fyd_fengqing{position:relative;padding:10px;clear:both}
.public_ff_title{text-align:center;font-size:20px;color:red}
.public_ff_goods{width:60%;border:1px solid red;margin:6px auto}
.public_ff_goods img{display:block;width:100%}
.public_ff_goods p{text-align:center;padding:4px 0}
.public_ff_goods span{font-size:16px;color:red}
.public_ff_text{line-height:24px}
.public_ff_btn{line-height:36px;display:block;color:#fff;margin:8px 0 4px;border-radius:4px}
.public_ff_form{display:none}
.public_ff_form .input_text,.public_ff_form .input_textarea{background:#f9f9f9;border:1px solid #b8b8b8;border-radius:5px;box-shadow:2px 2px 3px #d8d7d6 inset;margin:10px 10px 0}
.public_ff_form input,.public_ff_form textarea{background:rgba(0,0,0,0);border:none;border-radius:5px;box-sizing:border-box;display:block;padding:5px;width:100%}
.public_ff_form input{height:30px}
.public_ff_form textarea{height:50px}
.public_ff_form .input_btn{background:linear-gradient(#feb749,#cf8516);border-radius:5px;box-shadow:1px 2px 4px #564e4b;color:#fff;display:block;font-size:20px;height:35px;line-height:35px;margin:10px;text-align:center}
.public_btn_big{width:60%;padding:2% 0 2% 0;border-radius:10px;margin:4% auto;display:block;position:relative;background:#a21120;text-decoration:none;color:#fff;font-size:18px;text-align:center}
.pay_check{-webkit-appearance:checkbox;width:20px;height:20px;margin-left:10px}
.box_test{overflow:hidden;margin:10px;border:1px solid #d7d7d7;border-radius:5px;background:#fff}
.box_test_title{height:35px;line-height:35px;text-align:center;font-size:18px;color:#c70000}
.box_test_list{overflow:hidden}
.btl_title{background-color:#f6dcff;height:30px;line-height:30px;text-align:center;font-weight:700;color:#3f3f3f;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7}
.btl_title span{display:inline-block;vertical-align:middle;margin:-3px 5px 0 0}
.btl_title span img{display:block;width:25px;height:25px}
.btl_content{padding:10px}
.comment-box .comment-list{height:383px;overflow:hidden}
.comment-box li{overflow:hidden;height:150px;padding:15px;border-bottom:1px solid #f1e8e1}
.comment-box li span{line-height:28px;color:#ff537b}
.protocol_pop_box{background:rgba(0,0,0,.7);position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;display:none}
.ppb_content{width:80%;height:80%;padding:40px 0;position:relative;background-color:#fff;box-sizing:border-box;top:10%;left:10%}
.ppb_text{height:100%;overflow-y:scroll;box-sizing:border-box;padding:10px;margin:0 10px}
.ppb_text p{margin-top:8px}
.ppb_close,.ppb_title{position:absolute;width:100%;height:40px;left:0;line-height:40px;text-align:center}
.ppb_title{top:0;font-size:16px}
.ppb_close{bottom:0}
.ppb_close b{display:block;width:50px;height:24px;margin:8px auto 0;line-height:24px;border-radius:5px}
#luopan_box{height:170px;width:170px;margin:0 auto;position:fixed;top:40%;left:50%;z-index:9999999;margin-left:-85px;display:none;vertical-align:middle}
#luopan_box img.img-1{-webkit-animation:rotate 4s linear infinite;animation:rotate 4s linear infinite}
@media screen and(min-width:300px){#luopan_box img.img-1{width:170px;height:170px}
}
#luopan_box img.img-1{width:170px;height:170px}
#luopan_box .img-2{width:20px;height:140px;position:fixed;top:42%;left:50%;margin:0 auto;margin-left:-10px;-webkit-animation:rotate2 4s linear infinite;animation:rotate2 4s linear infinite}
@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes rotate{0%{-webkit-transform:rotate(360deg);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@-webkit-keyframes rotate2{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}
}
@keyframes rotate2{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}
}
.massage_btn{display:block}
.box-p{text-align:center;font-size:15px;color:#fffcf7;margin-top:10px;font-weight:500}
.luopan_bg_color{width:100%;height:100%;position:fixed;left:0;top:0;z-index:9999998;background:#000;opacity:.7;transition:opacity .5s;display:none}
.public_form_wrap .sub_left{width:30px;color:#fff;text-align:center;position:absolute;left:0;top:0;font-size:16px}
.public_form_wrap .sub_left img{display:block;width:25px;height:25px;background-size:100% 100%;margin:5px auto 2px}
.pay-list{margin:10px 30px;color:#fff;line-height:40px;font-size:17px}
.pay-item-wx{width:100%;height:40px;background-color:#6cb333;text-align:center;border-radius:20px;box-shadow:0 4px 0 #4a7111}
.pay-item-ali{width:100%;height:40px;background-color:#09f;text-align:center;border-radius:20px;margin-top:15px;text-wrap:none;box-shadow:0 4px 0 #07a}
.pay-item-wrap{margin:0 auto;padding-left:40px;position:relative;width:auto}
.pay-item-wrap img{position:absolute;width:30px;height:30px;margin-left:-40px;top:5px}