* {box-sizing:border-box;}
.red {color: #ef3939}
.del {text-decoration: line-through;}
.right {float:right}
.left {float:left}
.clear {_zoom: 1;clear: both;}
.clear:after {content: "";display: block;height: 0;visibility: hidden;clear: both;}
.invisible {visibility: hidden;}
.btm_shadow {box-shadow: 0 1px 1px rgba(255, 191, 97, 0.5);}
.count{height:40px;line-height:40px;font-size:14px;color:#333;font-weight:600;padding-left:15px;border-bottom: 1px solid #eee;}
.count span {color:#ef3939}
.sepbar{background-color:#fbf8f5;height:11px;margin-top:1px}

.user_feedback {font-size:14px;line-height:1.8;padding:5px 15px;color:#000;}
.user_feedback span {color:#d74040}
.pay_safe {text-align:center;padding:10px 0}
.pay_safe p {color:#5b3332;font-size:13px}

.product {display:flex;padding:5px 0;}
.product .item {flex:1;border:1px solid #c5c5c5;text-align:center}
.product .item .top {padding:10px 5px 5px}
.product .item .top .title {color:#333;font-size:14px;margin-bottom:5px;font-weight:600}
.product .item .top .desc {color:#666;font-size:12px;line-height:1.5}
.product .item .btm {background: #fbf0d0;padding:6px 4px 4px}
.product .item .btm .price{color:#333;font-size:14px;font-weight:600;margin-bottom:5px}
.product .item .btm .promot{color:#666;font-size:12px;line-height:1.65}

.intro {color:#666;font-size:12px;line-height:1.5;padding:5px 15px 10px;box-shadow: 0 1px 1px rgba(255, 191, 97, 0.5);}
.title {background: #FF7A18;color:#FFFFFF;text-align:center;padding:8px;margin:6px 0;font-size:14px}

.pay {}
.pay .title {background: rgb(220, 74, 67);color:white;text-align:center;padding:8px;font-size:14px}
.pay .item {height:48px;line-height:48px;border-bottom: 1px solid #f0f0f0;padding:0 24px 0 10px}
.pay .item .icon {width:35px;height:48px;display:inline-block;vertical-align: middle;}
.pay .item .weixin {background: transparent url('<%=SiteFileUrl%>/img/2019/wechat.png') center no-repeat;background-size:20px 20px;}
.pay .item .ali {background: transparent url(<%=SiteFileUrl%>/img/2019/ali.png) center no-repeat;background-size:20px 20px;}

.pay .item .btn {background-color: #a6061b;font-size: 13px;color: #fff;height: 30px;line-height: 30px;padding: 0 10px;-webkit-border-radius: 4px;border-radius: 4px;margin-top: 9px;cursor: pointer;}

.brand {padding:15px 25px;}
.brand .culture {display:flex;align-items: center;}
.brand .culture .logo{width:60px;height:auto;vertical-align:top}
.brand .culture .short{line-height: 1.67;white-space: nowrap;font-size: 13px;color: #333;padding-left:10px}

.brand .insures {display:flex;margin-top:20px;margin-bottom:10px;justify-content:space-between;-webkit-box-pack: justify;font-size:13px;color:#333}
.brand .insures .insure {flex:1;display:flex;line-height:17px;align-items: center;-webkit-box-align: center;}
.brand .insures .insure img{width:17px;height:17px;margin-right:4px}

.locked{}
.locked .title{background: rgb(220, 74, 67);color:white;text-align:center;padding:8px;font-size:14px;margin-bottom:20px}
.locked .item .tit{text-align:center}
.locked .item .tit span{text-align:center;display: inline-block;padding: 0 15px;line-height:32px;text-align: center;font-size: 14px;border-radius: 16px;background-color: rgb(220, 74, 67);color:white}
.locked .item .mask {position:relative;padding:10px 15px 25px;}
.locked .item .mask .blur{text-indent: 2em!important;line-height: 24px; color: #767676; padding: 0 0.69333rem;
text-align: justify; -webkit-filter: blur(4px); filter: blur(4px);
position: absolute; z-index: 1; display: block; overflow: hidden;}
.locked .item .mask .tip {display: block;position: relative;z-index: 2;width: 80%;
margin-top: 15px;left: 50%;-webkit-transform: translate(-50%, 0);-ms-transform: translate(-50%, 0);
transform: translate(-50%, 0);padding: 12px 15px;-webkit-border-radius: 4px;
border-radius: 4px;background: #fff;border: 1px solid #f7b555;border-color: rgb(247, 181, 85);}
.locked .item .mask .tip p{text-align: justify;font-size: 13px;line-height: 22px;}
.locked .item .mask .tip p span {font-weight:bold;color:#a6061b;}

.locked .cell {margin: 0;font-size: 13px;padding: 12px 25px;background-color: #fff;cursor: pointer;color: #333;}
.locked .cell .right {width:12px}

.btm_btn {width:100%;height:48px;line-height: 46px;width: 100%;max-width: 640px;color: #fff;font-size: 18px;text-align: center;background-color: #ba091f;cursor: pointer;position: fixed;bottom: 0;z-index: 10000;left:50%;transform:translateX(-50%)}
.btm_btn99 {width:100%;height:48px;line-height: 46px;width: 100%;max-width: 640px;color: #fff;font-size: 18px;text-align: center;background-color: #ba091f;cursor: pointer;}
	
.pay_mask {width: 100%;position: fixed;left: 0;top: 0;right: 0;display: none;height: 100%;background: rgba(0,0,0,0.5);z-index:1000}
.maskpay {width: 100%;height: auto;max-width: 640px;position: fixed;top: 50%;display:none;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);z-index:1001;}
.maskMiddle {position: absolute;width: 100%;}
.dashiPay {background: #fff;overflow: hidden;border-radius:6px;padding:10px 0;margin:0 10px}
.maskpay_price {text-align:right; border-bottom: 1px solid #e1e1e1;border-top: 1px solid #e1e1e1;line-height:40px;color:#666;margin:10px 0;padding:0 20px}
.dashiPay .hotPrice {color: #df0000; font-size:14px; font-weight: normal;}
.dashiPay .hotPrice span{text-decoration: line-through;margin-right: 15px;color: #666666;}
.dashiPay .hotPrice strong{font-size:22px;font-weight: normal;}

/* top pay */
.pay-top {margin: 10px 20px;color: white;line-height: 40px;font-size: 16px;}
.pay-top .pay-item-wx {width: 100%;height: 36px;background-color: #6cb333;text-align: center;border-radius: 10px;box-shadow: 0 1px 0 #4a7111;}
.pay-top .pay-item-ali {width: 100%;height: 36px;background-color: #0099ff;text-align: center;border-radius: 10px;margin-top: 15px;text-wrap: none;box-shadow: 0 1px 0 #0077aa;}
.pay-top.pay-item-wrap {margin: 0 auto;padding-left: 36px;position: relative;width: auto;color:#fff}
.pay-top .pay-item-wrap img {position: absolute;width: 24px;height: 24px;margin-left: -32px;top: 8px;display:inline-block;}

/* bottom pay */
.pay-list {margin: 10px 30px;color: white;line-height: 40px;font-size: 17px;}
.pay-item-wx {width: 100%;height: 40px;background-color: #6cb333;text-align: center;border-radius: 20px;box-shadow: 0 4px 0 #4a7111;}
.pay-item-ali {width: 100%;height: 40px;background-color: #0099ff;text-align: center;border-radius: 20px;margin-top: 15px;text-wrap: none;box-shadow: 0 4px 0 #0077aa;}
.pay-item-wrap {margin: 0 auto;padding-left: 40px;position: relative;width: auto;color:#fff}
.pay-item-wrap img {position: absolute;width: 30px;height: 30px;margin-left: -40px;top: 5px;display:inline-block;}